body{
    background-color: rgb(235, 233, 233);
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.post {
    background-color: white;
    margin:30px auto;
    width: 800px;
}

.post-header{
    display: flex;
    border-left: 15px;
    padding: 25px;
}

.icons{
    padding: 5px;
}

.texto {
    width: 100%;
}

h1 {
    padding:2px;
    margin: 0%;
    font-size: x-large;
}

h2 {
    padding:2px;
    margin: 0%;
    border-left: 15px;
}

.header {
    width:100px;
    display: flex;
    padding: 10px;
    background-color: black;
}


.post-icons{
    display: flex;
    padding: 25px 25px 0px 25px;
}

i{
    display: flex;
    padding: 5px;
}

.iconMarcador{
    width: 100%;
    text-align: right;
}

.fa-regular{
    font-size: 2em;
}

.post-body, p {
    padding: 15px; 
    text-align: justify;
    margin: 0%;
    
}